.discourse-tags {
  gap: 4px;
}

.discourse-tag {
  --primary: #e8e5e5;
  --primary-low-mid: #e8e5e5;
  --primary-low: #372941;

  padding: 4px 8px;
  border-radius: 10px;
  font-size: 8px;
  line-height: 10.579px;

  &:hover {
    color: var(--primary-low) !important;
  }

  @media (min-width: 992px) {
    padding: 5px 10px;
    border-radius: 12.6px;
    font-size: 12px;
    line-height: 13.136px;
  }
}