.archetype-regular {
  .above-main-container-outlet,
  #main-container {
    display: none;
  }
}

.display-search-banner #main-outlet {
  @media screen and (min-width: 750px) {
    padding-top: 5rem;
  }
}

#topic-title {
  margin-bottom: 40px;

  .title-wrapper {
    justify-content: center;
    width: 100%;
    max-width: 784px;
    margin: 0 auto;
  }

  h1 {
    margin-bottom: 8px;
    font-size: 30px;
    line-height: 62px;
    font-weight: 400;
    letter-spacing: -1px;

    @media (min-width: 992px) {
      margin-bottom: 18px;
      font-size: 54px;
      line-height: 62px;
      letter-spacing: -1px;
      background-image: radial-gradient(circle farthest-corner at center center, #F4F4F4 0%, #45304D 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    a {
      color: #A498A6;
    }
  }

  .topic-category {
    width: 100%;
  }
}

nav.post-controls {
  .actions {
    a, button {
      --primary-low-mid-or-secondary-high: #fff;
    }

    .btn-flat .d-icon {
      color: var(--primary-low-mid-or-secondary-high);
    }
  }
}

.container.posts {
  --primary: #A498A6;

  display: block;
  color: var(--primary);

  .topic-navigation {
    display: none;
  }

  .post-notice {
    max-width: 100%;
  }

  .onscreen-post .row {
    display: block;
    max-width: 784px;
    margin-left: auto;
    margin-right: auto;
  }

  .topic-avatar {
    position: static;
    margin-bottom: 0 !important;
    height: auto;
  }

  .avatar {
    width: 36px;
    height: 36px;
  }

  .topic-body {
    float: none;
    width: 100%;

    .topic-meta-data {
      padding-top: 8px;

      @media (min-width: 992px) {
        max-width: calc(100% - 295px);
      }
    }
  }

  .contents {
    --base-font-size: 16px;

    width: 100%;
    display: flex;
    flex-flow: row wrap;
    float: none;
    font-size: var(--base-font-size);

    p {
      font-size: 14px;
      line-height: (20/16);
      margin-bottom: 16px;
      margin-top: 0;

      @media (min-width: 992px) {
        font-size: 16px;
      }

      &:last-child {
        margin-bottom: 0;
      }

      strong {
        color: #fff;
      }

      a {
        opacity: 1;
        background: radial-gradient(72.93% 86.72% at 15.23% 94.14%, #EB55B2 0%, #EB484E 48.44%, #F0935E 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: opacity 0.3s ease;

        &:hover {
          opacity: 0.65;
        }
      }
    }

    .cooked {
      @media (min-width: 769px) {
        order: 1;
        padding: 0;
      }
    }

    .lightbox-wrapper {
      --secondary-high: #fff;

      display: block;
      text-align: center;
      margin: 22px auto 36px;

      @media (min-width: 992px) {
        margin: 34px auto 57px;
      }

      .lightbox {
        border-radius: 24px;
      }
    }
  }

  .post-menu-area {
    --primary-high-or-secondary-low: #A498A6;

    margin-left: auto;
    margin-bottom: 0;

    @media (min-width: 769px) {
      margin-top: -37px;
      margin-bottom: 40px;
    }
  }

  .topic-meta-data {
    --base-font-size: 16px;
    --font-0: 16px;
    --primary-med-or-secondary-med: #7d6f80;
    --primary-high-or-secondary-low: #7d6f80;

    font-size: var(--font-0);
  }

  .topic-area {
    .post-stream {
      .gap {
        --primary-med-or-secondary-high: #fff;

        width: calc(var(--topic-body-width) + var(--topic-avatar-width) + var(--topic-body-width-padding)*2);
        max-width: 784px;
        padding-left: 0;
        margin-left: auto;
        margin-right: auto;
        opacity: 1;
        background: radial-gradient(72.93% 86.72% at 15.23% 94.14%, #EB55B2 0%, #EB484E 48.44%, #F0935E 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: rgba(0,0,0,0);
      }

      .small-action-desc.timegap {
        --primary-low: rgba(71,66,75,.9);

        width: calc(var(--topic-body-width) + var(--topic-body-width-padding)*2 + var(--topic-avatar-width));
      }

      .topic-map {
        --primary-low: rgba(71,66,75,.9);
        background: transparent;
        border: transparent;

        section {
          border: transparent;
        }

        .relative-date,
        .topic-link.track-link {
          background: radial-gradient(72.93% 86.72% at 15.23% 94.14%, #EB55B2 0%, #EB484E 48.44%, #F0935E 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: rgba(0,0,0,0);
        }
      }

      .small-action {
        --danger-low-mid: transparent;
        --primary-low: rgba(71,66,75,.9);

        max-width: 784px;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;

        &.time-gap {
          .topic-avatar {
            display: none;
          }

          .small-action-desc.timegap {
            padding-left: 0;
          }
        }

        .topic-avatar {
          padding-top: 0;

          .svg-icon {
            margin: auto;
          }
        }
      }
    }

    .loading-container {
      //max-width: 784px;
      //width: 100%;
      margin-left: auto;
      margin-right: auto;

      .topic-timer-info {
        --primary-low: rgba(71,66,75,.9);

        max-width: 100%;
      }
    }
  }
}

.names {
  span a {
    //color: #7d6f80;
  }
}

.post-links-container {
  --primary-med-or-secondary-med: #fff;
  --primary-low: rgba(71,66,75,.9);
  --primary-medium: #fff;

  margin-left: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: (24/18);

  @media (min-width: 992px) {
    font-size: 18px;
  }

  .post-links {
    margin-top: 48px;
    padding-top: 24px;

    @media (min-width: 992px) {
      margin: 80px -30px 0;
      padding: 36px 13px 0 29px;
    }

    .track-link {
      span:not(.badge) {
        background: radial-gradient(72.93% 86.72% at 15.23% 94.14%, #EB55B2 0%, #EB484E 48.44%, #F0935E 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }

  .badge-notification {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    top: auto;
    font-size: 13px;
    padding: 0.1em 0 0;
    border-radius: 100%;
    width: 1.5em;
    height: 1.5em;
  }
}

.topic-above-footer-buttons-outlet {
  .presence {
    min-height: 0;
  }

  .topic-status-info,
  .topic-timer-info {
    --primary-low: rgba(71,66,75,.9);

    max-width: 100%;
  }
}

#topic-footer-buttons {
  --font-0: 14px;
  --primary-low: #372842;
  --primary: #fff;
  --primary-high: #A498A6;
  --tertiary: #9919A1;

  //max-width: 784px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  .btn {
    border-radius: 15px;
    padding: 0.72em 1.08em;
  }

  .topic-footer-main-buttons {
    button {
      margin-right: 0.72em;
    }
  }

  .topic-notifications-button {
    .text {
      margin-left: 10px;

      a {
        background: radial-gradient(72.93% 86.72% at 15.23% 94.14%, #EB55B2 0%, #EB484E 48.44%, #F0935E 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: opacity 0.3s ease;

        &:hover {
          opacity: 0.65;
        }
      }
    }
  }
}
